/**RESET**/
* {
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

/**KEYFRAMES**/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/**APP**/
.App {
  text-align: center;
}

.App-main {
  padding: 160px 0 60px;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.disclaimer {
  margin: 20px 30px 50px;
}

.copyright {
  color: rgb(165, 165, 165);
}

/**NAVBAR**/
.header-container {
  display: grid;
  grid-template-areas: "logo navigation vectors";
  grid-template-columns: 20% auto 20%;
  align-items: center;
  /* background-color: #fbf9f7; */
  background-color: #211f1e;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.logo-container {
  text-align: center;
}

.mainLogo {
  width: 145px;
  margin: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: spin infinite 20s linear;
  }
}

.navigation {
  text-align: center;
}

.navigation ul {
  padding: 0%;
  list-style-type: none;
  margin: 0 10px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.navigation li {
  display: inline;
  margin: 0 20px;
  font-size: 32px;
  color: #fff;
}

.li-1:hover {
  color: #066eb8;
}

.li-2:hover {
  color: #ef800b;
}

.li-3:hover {
  color: #78bc04;
  cursor: pointer;
}

.vectors {
  display: flex;
  justify-content: center;
}

/**CARTWIDGET**/
.cart-widget {
  text-decoration: none;
}

.cart-container {
  background-color: #61dafb;
  width: max-content;
  padding: 10px;
  border-radius: 100%;
}

.cart-container:hover {
  transform: rotateY(180deg);
  transition: 0.5s;
}

.cart-vector {
  width: 60px;
  cursor: pointer;
}

.total-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  padding: 4px;
  background-color: #ef800b;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: auto;
}

.total-items p {
  font-size: 16px;
  color: #fff;
}

/**ITEMLISTCONTAINER**/
.customMessage {
  background-color: #606060;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  transition: 0.5s;
}

.customMessage h1 {
  font-family: 'Roboto';
  font-size: 48px;
}

.ItemListContainer {
  padding: 20px;
  margin: 30px;
}

.loading-screen {
  display: flex;
  flex-flow: column;
  margin: 80px 0 180px;
}

.loading-screen img {
  width: 300px;
}

.loading-screen p {
  font-size: 36px;
}

/**ITEM**/
.item {
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 20px;
  background-color: #121212;
  width: 350px;
  box-shadow: 5px 5px 15px #61dafb;
  transition: 1s;
}

.item:hover {
  transition: 0.5s;
  transform: translateY(-10px);
}

.item-name {
  font-size: 32px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 10px;
}

.item-overview {
  width: 340px;
}

.item hr {
  width: auto;
  margin: 20px 0 0;
}

.item-button-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.item-button {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  background-color: #61dafb;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px 0 5px;
}

.item-button:hover {
  background-color: #94e2f8;
}

/**ITEMDETAIL**/
.detail-container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 30px 80px;
}

.detail-container div {
  margin: 0 50px;
}

.overview-container {
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 5px 5px 15px #61dafb;
}

.item-name {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-overview {
  width: 400px;
}

.description {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.description div {
  margin: 10px;
}

.description-container {
  background-color: #121212;
  padding: 30px;
  border-radius: 10px;
  height: 300px;
}

.detail-description {
  width: 400px;
  text-align: left;
  font-size: 18px;
}

.detail-description:after {
  content: "";
  display: block;
  height: 2px;
  width: inherit;
  margin: 30px auto 0;
  background-color: #abaaaa;
}

.detail-price {
  font-size: 36px;
  margin: 30px 0;
  color: rgb(255, 215, 0);
}

.counter-container {
  background-color: #606060;
  width: 400px;
  padding: 0 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.view-cart-container {
  padding: 40px;
}

.view-cart {
  font-size: 28px;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-family: 'DM Sans';
  background-color: #aceafb;
  text-decoration: none;
  color: #000;
}

.view-cart:hover {
  background-color: #61dafb;
  cursor: pointer;
}

.view-cart:active {
  background-color: #bdc0c1;
}

/**ITEMCOUNT**/
.counter {
  display: flex;
  flex-flow: column;
}

.q-selection {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.q-selection button {
  display: inline;
  font-size: 38px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  font-family: 'DM Sans';
  background-color: #95e6ff;
  cursor: pointer;
}

.increase-counter:hover {
  background-color: #77dd76;
}

.decrease-counter:hover {
  background-color: #ff6962;
}

.increase-counter:active {
  background-color: #bdc0c1;
}

.decrease-counter:active {
  background-color: #bdc0c1;
}

.q-selection p {
  display: inline;
  font-size: 36px;
  margin: 0 30px;
}

.q-confirmation button {
  font-size: 28px;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-family: 'DM Sans';
  background-color: #aceafb;
}

.q-confirmation button:hover {
  background-color: #61dafb;
  cursor: pointer;
}

.q-confirmation button:active {
  background-color: #bdc0c1;
}

/**CART**/
.cart-empty {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 150px;
}

.cart-empty img {
  width: 200px;
  margin: 15px 0;
}

.cart-empty h1 {
  font-size: 38px;
  margin: 15px 0;
  color: rgb(207, 207, 207);
}

.cart {
  margin: 30px;
}

.table {
  width: 1000px;
  margin: 0 auto 0 auto;
  padding: 10px 10px 0 10px;
}

.table ul {
  padding: 0%;
}

.table ul li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
  text-align: left;
}

.table-row div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table ul li .removeBTN {
  display: flex;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(227, 73, 73, 0.718);
}

.table ul li .removeBTN img {
  width: 15px;
}

.table ul li .removeBTN:hover {
  background-color: rgba(241, 37, 37, 0.901);
}

.table ul li .clear-cart-btn button {
  border: none;
  width: fit-content;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
}

.table ul li .clear-cart-btn button:hover {
  background-color: rgba(241, 37, 37, 0.901);
  color: #fff;
}

.table ul li .clear-cart-btn button:active {
  background-color: rgba(240, 76, 76, 0.901);
}

.table ul li .continue-btn button {
  align-items: center;
  border: none;
  width: fit-content;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
}

.table ul li .continue-btn button:hover {
  background-color: rgba(37, 241, 37, 0.901);
  color: #fff;
}

.table ul li .continue-btn button:active {
  background-color: rgba(99, 238, 99, 0.901);
}

.table ul .table-header {
  background-color: #56748d;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.table ul .table-row {
  background-color: #efefef;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  color: #000;
}

.table ul .col-1 {
  flex-basis: 25%;
}

.table ul .col-2 {
  flex-basis: 30%;
}

.table ul .col-3 {
  flex-basis: 30%;
}

.table ul .col-4 {
  flex-basis: 10%;
}

/**FORM**/
.formulary {
  margin: 40px 50px;
}

.formulary form {
  display: flex;
  flex-flow: column;
  color: #000;
  padding: 20px;
  border-radius: 5px;
}

.formulary form label {
  margin: 20px 0 10px;
  text-align: left;
  font-size: 24px;
  background-color: #56748d;
  box-shadow: 5px 3px 8px #2369f6;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.formulary form input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 3px 8px #2369f6;
  padding: 8px;
}

.checkout-btn {
  margin: 35px;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: rgba(37, 241, 37, 0.901);
  color: #fff;
}

.checkout-btn:active {
  background-color: rgba(99, 238, 99, 0.901);
}

.return-btn {
  margin: 0px 0 -20px;
  padding: 10px 30px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.return-btn:hover {
  background-color: #fff;
}

/**SCROLLUP**/
.scrollUp {
  z-index: 2;
  width: 80px;
  position: fixed;
  top: 90%;
  right: 2.5%;
  opacity: 60%;
}

.scrollUp:hover {
  opacity: 100%;
}

/**RESPONSIVE**/
@media (min-width: 2560px) {

  /**APP**/
  .App-main {
    padding: 340px 0 120px;
  }

  .disclaimer {
    margin: 100px 30px 80px;
    font-size: 42px;
  }

  .copyright {
    font-size: 42px;
  }

  /**NAVBAR**/
  .mainLogo {
    width: 320px;
  }

  .navigation li {
    margin: 0 60px;
    font-size: 76px;
  }

  /**CARTWIDGET**/
  .cart-vector {
    width: 150px;
  }

  .cart-container {
    padding: 30px;
    border-radius: 100%;
  }

  .total-items {
    top: 60%;
    padding: 4px;
    width: 70px;
    height: 70px;
  }

  .total-items p {
    font-size: 42px;
  }

  /**ITEMLISTCONTAINER**/
  .customMessage {
    padding: 40px 50px;
  }

  .customMessage h1 {
    font-size: 82px;
  }

  .ItemListContainer {
    margin: 40px;
  }

  .loading-screen {
    margin: 240px 0 260px;
  }

  .loading-screen img {
    width: 800px;
  }

  .loading-screen p {
    font-size: 86px;
  }

  /**ITEM**/
  .item {
    margin: 60px;
    width: 800px;
  }

  .item:hover {
    transform: none;
  }

  .item-name {
    font-size: 76px;
  }

  .item-overview {
    width: 780px;
  }

  .item hr {
    margin: 30px 0 0;
  }

  .item-button {
    font-size: 72px;
    margin: 50px 0 40px;
  }

  .item-button:hover {
    background-color: #61dafb;
  }

  .item-button:active {
    background-color: #94e2f8;
  }

  /**ITEMDETAIL**/
  .detail-container {
    margin: 100px;
  }

  .overview-container {
    width: 800px;
    padding: 20px 40px 40px;
  }

  .item-name {
    font-size: 72px;
    margin: 20px 0 30px;
  }

  .detail-overview {
    width: 800px;
  }

  .description-container {
    padding: 50px;
    height: 990px;
  }

  .detail-description {
    width: 800px;
    font-size: 52px;
  }

  .detail-price {
    margin: 40px 0;
    font-size: 82px;
  }

  .counter-container {
    width: 800px;
    padding: 48px;
  }

  /**ITEMCOUNT**/
  .view-cart {
    font-size: 68px;
    border-radius: 5px;
    padding: 15px 50px;
  }

  .q-selection button {
    font-size: 72px;
    width: 120px;
    height: 120px;
  }

  .q-selection p {
    font-size: 72px;
    margin: 0 70px;
  }

  .q-confirmation button {
    margin-top: 20px;
    font-size: 68px;
    border-radius: 10px;
    padding: 15px 50px;
  }

  /**CART**/
  .cart-empty {
    margin: 460px;
  }

  .cart-empty img {
    width: 440px;
  }

  .cart-empty h1 {
    font-size: 72px !important;
  }

  .cart {
    margin: 100px;
  }

  .table {
    width: 2100px;
    padding: 10px 10px 0 10px;
  }

  .table ul li {
    border-radius: 3px;
    padding: 50px 30px;
    margin-bottom: 45px;
  }

  .table ul li .removeBTN {
    padding: 15px;
    border-radius: 5px;
  }

  .table ul li .removeBTN img {
    width: 40px;
  }

  .table ul li .clear-cart-btn button {
    border-radius: 10px;
    padding: 30px 60px;
    font-size: 72px;
  }

  .table ul li .continue-btn button {
    border-radius: 10px;
    padding: 30px 60px;
    font-size: 72px;
  }

  .table ul .table-header {
    letter-spacing: 0.03em;
  }

  .table ul li div {
    font-size: 56px;
  }

  .table ul .col-1 {
    flex-basis: 35%;
  }

  .table ul .col-2 {
    flex-basis: 20%;
  }

  .table ul .col-3 {
    flex-basis: 30%;
  }

  .table ul .col-4 {
    flex-basis: 10%;
  }

  /**FORM**/
  .formulary {
    margin: 60px 0 80px;
  }

  .formulary form {
    padding: 20px;
    border-radius: 5px;
    width: 820px;
  }

  .formulary form label {
    margin: 50px 0 30px;
    font-size: 68px;
    border-radius: 5px;
    padding: 15px;
  }

  .formulary form input {
    width: 760px;
    height: 30px;
    border-radius: 5px;
    padding: 40px 30px;
    font-size: 58px;
  }

  .checkout-btn {
    margin: 65px;
    padding: 30px 50px;
    border-radius: 10px;
    font-size: 72px;
  }

  .return-btn {
    margin: 0px 0 -20px;
    padding: 20px 50px;
    border-radius: 2px;
    font-size: 72px;
  }

  /**SCROLLUP**/
  .scrollUp {
    width: 200px;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {

  /**APP**/
  .App-main {
    padding: 260px 0 80px;
  }

  .disclaimer {
    margin: 60px 30px 60px;
    font-size: 24px;
  }

  .copyright {
    font-size: 24px;
  }

  /**NAVBAR**/
  .mainLogo {
    width: 240px;
  }

  .navigation li {
    margin: 0 50px;
    font-size: 58px;
  }

  /**CARTWIDGET**/
  .cart-vector {
    width: 110px;
  }

  .cart-container {
    padding: 20px;
    border-radius: 100%;
  }

  .total-items {
    top: 60%;
    padding: 4px;
    width: 40px;
    height: 40px;
  }

  .total-items p {
    font-size: 32px;
  }

  /**ITEMLISTCONTAINER**/
  .customMessage {
    padding: 20px 30px;
  }

  .customMessage h1 {
    font-size: 52px;
  }

  .ItemListContainer {
    margin: 40px;
  }

  .loading-screen {
    margin: 80px 0 140px;
  }

  .loading-screen img {
    width: 500px;
  }

  .loading-screen p {
    font-size: 52px;
  }

  /**ITEMDETAIL**/
  .detail-container {
    margin: 20px 30px 80px;
  }

  .detail-container div {
    margin: 0 50px;
  }

  .overview-container {
    padding: 30px;
    border-radius: 10px;
    width: 500px;
  }

  .item-name {
    font-size: 42px;
  }

  .detail-overview {
    width: 500px;
  }

  .description div {
    margin: 10px;
  }

  .description-container {
    background-color: #121212;
    padding: 30px;
    border-radius: 10px;
    height: 500px;
  }

  .detail-description {
    width: 500px;
    text-align: left;
    font-size: 24px;
  }

  .detail-price {
    font-size: 42px;
    margin: 30px 0;
  }

  .counter-container {
    width: 500px;
    padding: 0 30px;
  }

  .view-cart {
    font-size: 32px;
    border-radius: 5px;
    padding: 10px 30px;
  }

  /**ITEMCOUNT**/
  .q-selection button {
    font-size: 42px;
    width: 60px;
    height: 60px;
  }

  .q-selection p {
    font-size: 36px;
    margin: 0 30px;
  }

  .q-confirmation button {
    font-size: 32px;
    border-radius: 5px;
    padding: 10px 30px;
  }

  /**CART**/
  .cart-empty {
    margin: 230px;
  }

  .cart-empty img {
    width: 250px;
    margin: 15px 0;
  }

  .cart-empty h1 {
    font-size: 48px;
    margin: 15px 0;
  }

  .cart {
    margin: 30px 0 10px;
  }

  .table {
    width: 1700px;
  }

  .table ul li {
    padding: 35px 30px;
    margin-bottom: 30px;
  }

  .table ul li .removeBTN {
    padding: 12px;
    border-radius: 5px;
  }

  .table ul li .removeBTN img {
    width: 25px;
  }

  .table ul li .clear-cart-btn button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 42px;
  }

  .table ul li .continue-btn button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 42px;
  }

  .table ul li div {
    font-size: 32px;
  }

  /**FORM**/
  .formulary {
    margin: 15px 50px;
  }

  .formulary form {
    padding: 20px;
    width: 500px;
  }

  .formulary form label {
    margin: 40px 0 20px;
    font-size: 36px;
    padding: 12px;
  }

  .formulary form input {
    width: 470px;
    height: 30px;
    padding: 15px;
    font-size: 32px;
  }

  .checkout-btn {
    margin: 35px;
    padding: 15px 35px;
    font-size: 42px;
  }

  .return-btn {
    margin: 10px 0 -20px;
    padding: 15px 35px;
    font-size: 42px;
  }

  /**SCROLLUP**/
  .scrollUp {
    top: 87%;
    width: 130px;
  }
}

@media (max-width: 1200px) {

  /**NAVBAR**/
  .li-1:hover {
    color: inherit;
  }

  .li-2:hover {
    color: inherit;
  }

  .li-3:hover {
    color: #fff;
  }

  .li-1:active {
    color: #066eb8;
  }

  .li-2:active {
    color: #ef800b;
  }

  .li-3:active {
    color: #78bc04;
  }

  /**CARTWIDGET**/
  .cart-container:hover {
    transform: none;
  }

  /**ITEM**/
  .item {
    margin: 15px;
    width: 250px;
  }

  .item:hover {
    transform: none;
  }

  .item-name {
    font-size: 24px;
  }

  .item-overview {
    width: 240px;
  }

  .item hr {
    margin: 12px 0 0;
  }

  .item-button {
    font-size: 20px;
    margin: 15px 0 5px;
  }

  .item-button:hover {
    background-color: #61dafb;
  }

  .item-button:active {
    background-color: #94e2f8;
  }

  /**ITEMDETAIL**/
  .overview-container {
    width: 300px;
    padding: 20px 20px 20px;
  }

  .item-name {
    font-size: 28px;
  }

  .detail-overview {
    width: 300px;
  }

  .description-container {
    height: 330px;
  }

  .detail-description {
    width: 340px;
  }

  .detail-price {
    margin: 20px 0;
  }

  .counter-container {
    width: 330px;
  }

  .view-cart:hover {
    background-color: #aceafb;
  }

  /**ITEMCOUNT**/
  .increase-counter:hover {
    background-color: #95e6ff
  }

  .decrease-counter:hover {
    background-color: #95e6ff;
  }

  .increase-counter:active {
    background-color: #77dd76;
  }

  .decrease-counter:active {
    background-color: #ff6962;
  }

  .q-confirmation button:hover {
    background-color: #aceafb;
  }

  /**CART**/
  .cart-empty img {
    width: 180px;
  }

  .cart-empty h1 {
    font-size: 34px;
  }

  .table {
    width: 900px;
  }

  .table ul li .removeBTN:hover {
    background-color: rgba(227, 73, 73, 0.718);
  }

  .table ul li .removeBTN:active {
    background-color: rgba(241, 37, 37, 0.901);
  }

  .table ul li .clear-cart-btn button:hover {
    background-color: #efefef;
    color: #000;
  }

  .table ul li .clear-cart-btn button:active {
    background-color: rgba(241, 37, 37, 0.901);
    color: #fff;
  }

  .table ul li .continue-btn button:hover {
    background-color: #efefef;
    color: #000;
  }

  .table ul li .continue-btn button:active {
    background-color: rgba(37, 241, 37, 0.901);
    color: #fff;
  }

  /**FORM**/
  .checkout-btn:hover {
    background-color: #efefef;
    color: #000;
  }

  .checkout-btn:active {
    background-color: rgba(37, 241, 37, 0.901);
    color: #fff;
  }

  .return-btn:hover {
    background-color: #efefef;
  }

  .return-btn:active {
    background-color: #fff;
  }
}

@media (max-width: 1024px) {

  /**APP**/
  .App-main {
    padding: 140px 0 40px;
  }

  .disclaimer {
    margin: 20px 30px 20px;
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }

  /**NAVBAR**/
  .mainLogo {
    width: 120px;
  }

  .navigation li {
    margin: 0 18px;
    font-size: 28px;
  }

  /**CARTWIDGET**/
  .cart-vector {
    width: 50px;
  }

  /**ITEMLISTCONTAINER**/
  .customMessage h1 {
    font-size: 36px;
  }

  .ItemListContainer {
    margin: 15px;
  }

  .loading-screen {
    margin: 40px 0 140px;
  }

  .loading-screen img {
    width: 230px;
  }

  .loading-screen p {
    font-size: 28px;
  }

  /**ITEM**/
  .item {
    margin: 8px;
    width: 170px;
    border-radius: 5px;
  }

  .item-name {
    font-size: 18px;
  }

  .item-overview {
    width: 165px;
  }

  .item hr {
    margin: 8px 0 0;
  }

  .item-button {
    font-size: 16px;
    margin: 12px 0 4px;
    padding: 8px 13px;
  }

  /**ITEMDETAIL**/
  .detail-container {
    flex-flow: row;
    margin: 20px 30px 80px;
  }

  .detail-container div {
    margin: 0 15px;
  }

  .overview-container {
    width: 270px;
    padding: 10px 20px 20px;
    border-radius: 5px;
  }

  .item-name {
    font-size: 18px !important;
  }

  .detail-overview {
    width: 270px;
  }

  .description-container {
    padding: 20px;
    height: 265px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .detail-description {
    width: 300px;
    font-size: 14px;
  }

  .detail-description:after {
    margin: 20px auto 0;
  }

  .detail-price {
    margin: 10px 0;
    font-size: 24px;
  }

  .counter-container {
    width: 320px;
    padding: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #121212;
  }

  /**ITEMCOUNT**/
  .q-selection button {
    font-size: 24px;
    width: 40px;
    height: 40px;
  }

  .q-selection p {
    font-size: 22px;
    margin: 0 20px;
  }

  .q-confirmation button {
    margin-top: 10px;
    font-size: 22px;
    padding: 5px 15px;
  }

  .view-cart-container {
    padding: 30px;
  }

  .view-cart {
    font-size: 22px;
    border-radius: 5px;
    padding: 5px 15px;
  }

  /**CART**/
  .cart-empty {
    margin: 100px 0 180px;
  }

  .cart-empty img {
    width: 140px;
  }

  .cart-empty h1 {
    font-size: 24px;
  }

  .cart {
    margin: 10px;
  }

  .table {
    width: 650px;
  }

  .table ul .col-1 {
    flex-basis: 40%;
  }

  .table ul .col-2 {
    flex-basis: 25%;
  }

  .table ul .col-3 {
    flex-basis: 25%;
  }

  .table ul .col-4 {
    flex-basis: 8%;
  }

  /**FORM**/
  .formulary {
    margin: 10px 50px;
  }

  /**SCROLLUP**/
  .scrollUp {
    width: 50px;
  }
}

@media (max-width: 768px) {

  /**APP**/
  .App-main {
    padding: 110px 0 30px;
  }

  .disclaimer {
    margin: 20px 30px 20px;
    font-size: 10px;
  }

  .copyright {
    font-size: 10px;
  }

  /**NAVBAR**/
  .mainLogo {
    width: 85px;
  }

  .navigation li {
    margin: 0 18px;
    font-size: 22px;
  }

  /**CARTWIDGET**/
  .cart-vector {
    width: 30px;
  }

  .total-items {
    top: 60%;
    padding: 4px;
    width: 12px;
    height: 12px;
  }

  .total-items p {
    font-size: 12px;
  }

  /**ITEMLISTCONTAINER**/
  .customMessage h1 {
    font-size: 28px;
  }

  .ItemListContainer {
    margin: 10px;
  }

  .loading-screen {
    margin: 40px 0 120px;
  }

  .loading-screen img {
    width: 230px;
  }

  .loading-screen p {
    font-size: 28px;
  }

  /**ITEMDETAIL**/
  .detail-container {
    margin: 20px 30px 80px;
  }

  .detail-container div {
    margin: 0 8px;
  }

  .overview-container {
    width: 250px;
    padding: 10px 20px 20px;
  }

  .item-name {
    font-size: 18px !important;
  }

  .detail-overview {
    width: 250px;
  }

  .description-container {
    padding: 15px;
    height: 265px;
  }

  .detail-description {
    width: 210px;
    font-size: 14px;
  }

  .detail-description:after {
    margin: 10px auto 0;
  }

  .detail-price {
    margin: 10px 0;
    font-size: 18px;
  }

  .counter-container {
    width: 220px;
    padding: 10px;
  }

  /**ITEMCOUNT**/
  .q-selection button {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }

  .q-selection p {
    font-size: 18px;
    margin: 0 20px;
  }

  .q-confirmation button {
    margin-top: 10px;
    font-size: 18px;
    padding: 5px 15px;
  }

  .view-cart-container {
    padding: 25px;
  }

  .view-cart {
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 15px;
  }

  /**CART**/
  .cart-empty {
    margin: 90px 0 120px;
  }

  .cart-empty img {
    width: 120px;
  }

  .cart-empty h1 {
    font-size: 18px;
  }

  .cart {
    margin: 10px;
  }

  .table {
    width: 540px;
  }

  .table ul li {
    margin-bottom: 15px;
  }

  .table ul li div {
    font-size: 14px;
  }

  .table ul li .removeBTN {
    padding: 5px;
  }

  .table ul li .removeBTN img {
    width: 12px;
  }

  .table ul li .clear-cart-btn button {
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 24px;
  }

  .table ul li .continue-btn button {
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 24px;
  }

  /**FORM**/
  .formulary form label {
    margin: 20px 0 10px;
    font-size: 22px;
    padding: 5px;
  }

  .formulary form input {
    width: 300px;
    height: 30px;
    padding: 5px 8px;
  }

  .checkout-btn {
    margin: 35px;
    padding: 10px;
    font-size: 22px;
  }

  .return-btn {
    margin: 0 0 -20px;
    padding: 10px 30px;
    font-size: 18px;
  }
}

@media (max-width: 600px) {

  /**APP**/
  .App-main {
    padding: 95px 0 20px;
  }

  .disclaimer {
    margin: 15px 30px 20px;
    font-size: 8px;
  }

  .copyright {
    font-size: 8px;
  }

  /**NAVBAR**/
  .mainLogo {
    width: 75px;
  }

  .navigation li {
    margin: 0 15px;
    font-size: 18px;
  }

  /**CARTWIDGET**/
  .cart-vector {
    width: 32px;
  }

  .cart-container {
    padding: 5px;
  }

  .total-items {
    top: 60%;
    padding: 4px;
    width: 10px;
    height: 10px;
  }

  .total-items p {
    font-size: 12px;
  }

  /**ITEMLISTCONTAINER**/
  .customMessage h1 {
    font-size: 24px;
  }

  .ItemListContainer {
    margin: 8px;
  }

  /**ITEMDETAIL**/
  .detail-container {
    margin: 20px 30px 80px;
  }

  .detail-container div {
    margin: 0 6px;
  }

  .overview-container {
    width: 200px;
    padding: 5px 10px 10px;
  }

  .detail-overview {
    width: 200px;
  }

  .description-container {
    padding: 15px;
    height: 335px;
  }

  .detail-description {
    width: 180px;
    font-size: 14px;
  }

  .counter-container {
    width: 190px;
    padding: 10px;
  }

  /**CART**/
  .cart-empty {
    margin: 90px 0 160px;
  }

  .cart {
    margin: 5px;
  }

  .table {
    width: 440px;
  }

  .table ul li {
    padding: 20px 30px;
  }

  .table ul li div {
    font-size: 12px;
  }

  .table ul li .removeBTN {
    padding: 5px;
  }

  .table ul li .removeBTN img {
    width: 10px;
  }

  .table ul li .clear-cart-btn button {
    padding: 8px 20px;
    font-size: 20px;
  }

  .table ul li .continue-btn button {
    padding: 8px 20px;
    font-size: 20px;
  }

  /**FORM**/
  .checkout-btn {
    margin: 30px;
    padding: 8px;
    font-size: 20px;
  }

  .return-btn {
    margin: 0 0 -10px;
    padding: 8px 30px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {}

@media (max-width: 320px) {}