/* @keyframes spin {
    from {
      transform: rotate(0deg); }
    to {
      transform: rotate(360deg); } 
}
.header-container {
    display: grid;
    grid-template-areas: "logo navigation vectors";
    align-items: center;
    background-color: #fbf9f7;
    position: fixed;
    width: 100%;
}
.logo-container {
    text-align: center;
}
.logo {
    width: 130px;
    margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: spin infinite 20s linear;
    }
}
.navigation {
    text-align: center;
}
.navigation ul {
    padding: 0%;
    list-style-type: none;
    margin: 0 10px;
}
.navigation a {
    text-decoration: none;
    color: #000;
}
.navigation li {
    display: inline;
    margin: 0 20px;
    font-size: 32px;
}
.navigation li:hover {
    color: #61dafb;
}
.vectors {
    display: flex;
    justify-content: center;
}
.cart-container {
    background-color: #61dafb;
    width: max-content;
    padding: 10px;
    border-radius: 100%;
}
.cart-container:hover {
    transform: rotateY(180deg);
    transition: 0.5s;
}
.cart-vector {
    width: 60px;
    cursor: pointer;
}
.customMessage {
    background-color: #606060;
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    transition: 0.5s;
}
.customMessage:hover {
    transition: 0.5s;
    padding: 15px 20px;
}
.customMessage h1 {
    font-family: 'Roboto';
    font-size: 48px;
}
.ItemListContainer {
    padding: 20px;
    margin: 30px;
    border: 1px solid;
}
.item {
    display: inline-block;
}
.item-name {
    font-size: 36px;
} */