@keyframes spin {
    from {
      transform: rotate(0deg); }
    to {
      transform: rotate(360deg); } 
}
.header-container {
    display: grid;
    grid-template-areas: "logo navigation vectors";
    align-items: center;
    background-color: #fbf9f7;
}
.logo {
    text-align: center;
}
.logo a img{
    width: 95px;
    margin: 0 0px;
}
.logo a img:hover {
    animation: spin infinite 10s linear;
}
.navigation {
    text-align: center;
}
.navigation ul {
    padding: 0%;
    list-style-type: none;
    margin: 0 10px;
}
.navigation a {
    text-decoration: none;
    color: #000;
}
.navigation li {
    display: inline;
    margin: 0 20px;
    font-size: 32px;
}
.navigation li:hover {
    color: #61dafb;
}
.vectors {
    display: flex;
    justify-content: center;
}
.cart-container {
    background-color: #61dafb;
    width: max-content;
    padding: 10px;
    border-radius: 100%;
}
.cart-container:hover {
    transform: rotateY(180deg);
    transition: 0.5s;
}
.cart-vector {
    width: 60px;
    cursor: pointer;
}
.item-container {
    background-color: #606060;
    padding: 10px;
    border-radius: 15px;
    transition: 0.5s;
}
.item-container:hover {
    transition: 0.5s;
    padding: 15px 20px;
}
.item-container h1 {
    font-family: 'Roboto';
    font-size: 48px;
}