/**RESET**/
* {
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

/**APP**/
.App {
  text-align: center;
}

.App-main {
  padding: 160px 0 60px;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.disclaimer {
  margin: 20px 30px 50px;
}

.copyright {
  color: rgb(165, 165, 165);
}

/**NAVBAR**/
.header-container {
  display: grid;
  grid-template-areas: "logo navigation vectors";
  grid-template-columns: 20% auto 20%;
  align-items: center;
  /* background-color: #fbf9f7; */
  background-color: #211f1e;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.logo-container {
  text-align: center;
}

.mainLogo {
  width: 145px;
  margin: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: spin infinite 20s linear;
  }
}

.navigation {
  text-align: center;
}

.navigation ul {
  padding: 0%;
  list-style-type: none;
  margin: 0 10px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.navigation li {
  display: inline;
  margin: 0 20px;
  font-size: 32px;
  color: #fff;
}

.li-1:hover {
  color: #066eb8;
}

.li-2:hover {
  color: #ef800b;
}

.li-3:hover {
  color: #78bc04;
  cursor: pointer;
}

.vectors {
  display: flex;
  justify-content: center;
}

/**CARTWIDGET**/
.cart-widget {
  text-decoration: none;
}

.cart-container {
  background-color: #61dafb;
  width: max-content;
  padding: 10px;
  border-radius: 100%;
}

.cart-container:hover {
  transform: rotateY(180deg);
  transition: 0.5s;
}

.cart-vector {
  width: 60px;
  cursor: pointer;
}

.total-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  padding: 4px;
  background-color: #ef800b;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: auto;
}

.total-items p {
  font-size: 16px;
  color: #fff;
}

/**ITEMLISTCONTAINER**/
.customMessage {
  background-color: #606060;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  transition: 0.5s;
}

.customMessage h1 {
  font-family: 'Roboto';
  font-size: 48px;
}

.ItemListContainer {
  padding: 20px;
  margin: 30px;
}

.loading-screen {
  display: flex;
  flex-flow: column;
  margin: 80px 0 180px;
}

.loading-screen img {
  width: 300px;
}

.loading-screen p {
  font-size: 36px;
}

/**ITEM**/
.item {
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 20px;
  background-color: #121212;
  width: 350px;
  box-shadow: 5px 5px 15px #61dafb;
  transition: 1s;
}

.item:hover {
  transition: 0.5s;
  transform: translateY(-10px);
}

.item-name {
  font-size: 32px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 10px;
}

.item-overview {
  width: 340px;
}

.item hr {
  width: auto;
  margin: 20px 0 0;
}

.item-button-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.item-button {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  background-color: #61dafb;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px 0 5px;
}

.item-button:hover {
  background-color: #94e2f8;
}

/**ITEMDETAIL**/
.detail-container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 30px 80px;
}

.detail-container div {
  margin: 0 50px;
}

.overview-container {
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 5px 5px 15px #61dafb;
}

.item-name {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-overview {
  width: 400px;
}

.description {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.description div {
  margin: 10px;
}

.description-container {
  background-color: #121212;
  padding: 30px;
  border-radius: 10px;
  height: 300px;
}

.detail-description {
  width: 400px;
  text-align: left;
  font-size: 18px;
}

.detail-description:after {
  content: "";
  display: block;
  height: 2px;
  width: inherit;
  margin: 30px auto 0;
  background-color: #abaaaa;
}

.detail-price {
  font-size: 36px;
  margin: 30px 0;
  color: rgb(255, 215, 0);
}

.counter-container {
  background-color: #606060;
  width: 400px;
  padding: 0 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.view-cart-container {
  padding: 40px;
}

.view-cart {
  font-size: 28px;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-family: 'DM Sans';
  background-color: #aceafb;
  text-decoration: none;
  color: #000;
}

.view-cart:hover {
  background-color: #61dafb;
  cursor: pointer;
}

.view-cart:active {
  background-color: #bdc0c1;
}


/**ITEMCOUNT**/
.counter {
  display: flex;
  flex-flow: column;
}

.q-selection {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.q-selection button {
  display: inline;
  font-size: 38px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  font-family: 'DM Sans';
  background-color: #95e6fc;
  cursor: pointer;
}

.increase-counter:hover {
  background-color: #77dd76;
}

.decrease-counter:hover {
  background-color: #ff6962;
}

.q-selection button:active {
  background-color: #bdc0c1;
}

.q-selection p {
  display: inline;
  font-size: 36px;
  margin: 0 30px;
}

.q-confirmation button {
  font-size: 28px;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-family: 'DM Sans';
  background-color: #aceafb;
}

.q-confirmation button:hover {
  background-color: #61dafb;
  cursor: pointer;
}

.q-confirmation button:active {
  background-color: #bdc0c1;
}

/**CART**/
.cart-empty {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 150px;
}

.cart-empty img {
  width: 200px;
  margin: 15px 0;
}

.cart-empty h1 {
  font-size: 38px;
  margin: 15px 0;
  color: rgb(207, 207, 207);
}

.cart {
  margin: 30px;
}

.table {
  width: 1000px;
  margin: 0 auto 0 auto;
  padding: 10px 10px 0 10px;
}

.table ul li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
  text-align: left;
}

.table ul li .removeBTN {
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(227, 73, 73, 0.718);
}

.table ul li .removeBTN img {
  width: 15px;
}

.table ul li .removeBTN:hover {
  background-color: rgba(241, 37, 37, 0.901);
}

.table ul li .clear-cart-btn button {
  border: none;
  width: fit-content;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
}

.table ul li .clear-cart-btn button:hover {
  background-color: rgba(241, 37, 37, 0.901);
  color: #fff;
}

.table ul li .clear-cart-btn button:active {
  background-color: rgba(240, 76, 76, 0.901);
}

.table ul li .continue-btn button {
  align-items: center;
  border: none;
  width: fit-content;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
}

.table ul li .continue-btn button:hover {
  background-color: rgba(37, 241, 37, 0.901);
  color: #fff;
}

.table ul li .continue-btn button:active {
  background-color: rgba(99, 238, 99, 0.901);
}

.table ul .table-header {
  background-color: #56748d;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.table ul .table-row {
  background-color: #efefef;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  color: #000;
}

.table ul .col-1 {
  flex-basis: 30%;
}

.table ul .col-2 {
  flex-basis: 30%;
}

.table ul .col-3 {
  flex-basis: 30%;
}

.table ul .col-4 {
  flex-basis: 10%;
}

/**FORM**/
.formulary {
  margin: 40px 50px;
}

.formulary form {
  display: flex;
  flex-flow: column;
  color: #000;
  padding: 20px;
  border-radius: 5px;
}

.formulary form label {
  margin: 20px 0 10px;
  text-align: left;
  font-size: 24px;
  background-color: #56748d;
  box-shadow: 5px 3px 8px #2369f6;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.formulary form input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 3px 8px #2369f6;
  padding: 8px;
}

.checkout-btn {
  margin: 35px;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: rgba(37, 241, 37, 0.901);
  color: #fff;
}

.checkout-btn:active {
  background-color: rgba(99, 238, 99, 0.901);
}

.return-btn {
  margin: 0px 0 -20px;
  padding: 10px 30px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.return-btn:hover {
  background-color: #fff;
}

/**SCROLLUP**/
.scrollUp {
  z-index: 2;
  width: 80px;
  position: fixed;
  top: 90%;
  right: 2.5%;
  opacity: 60%;
}

.scrollUp:hover {
  opacity: 100%;
}

/**KEYFRAMES**/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}