/**RESET**/
* {
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

/**APP**/
.App {
  text-align: center;
}
.App-main {
  padding: 120px 0 80px;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/**NAVBAR**/
.header-container {
  display: grid;
  grid-template-areas: "logo navigation vectors";
  align-items: center;
  background-color: #fbf9f7;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.logo-container {
  text-align: center;
}
.logo {
  width: 130px;
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
      animation: spin infinite 20s linear;
  }
}
.navigation {
  text-align: center;
}
.navigation ul {
  padding: 0%;
  list-style-type: none;
  margin: 0 10px;
}
.navigation a {
  text-decoration: none;
  color: #000;
}
.navigation li {
  display: inline;
  margin: 0 20px;
  font-size: 32px;
}
.li-1:hover {
  color: #066eb8;
}
.li-2:hover {
  color: #ef800b;
}
.li-3:hover {
  color: #61dafb;
}
.vectors {
  display: flex;
  justify-content: center;
}

/**CARTWIDGET**/
.cart-container {
  background-color: #61dafb;
  width: max-content;
  padding: 10px;
  border-radius: 100%;
}
.cart-container:hover {
  transform: rotateY(180deg);
  transition: 0.5s;
}
.cart-vector {
  width: 60px;
  cursor: pointer;
}

/**ITEMLISTCONTAINER**/
.customMessage {
  background-color: #606060;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  transition: 0.5s;
}
.customMessage:hover {
  transition: 0.5s;
  padding: 15px 20px;
}
.customMessage h1 {
  font-family: 'Roboto';
  font-size: 48px;
}
.ItemListContainer {
  padding: 20px;
  margin: 30px;
}
.loading-screen {
  display: flex;
  flex-flow: column;
}
.loading-screen img {
  width: 300px;
}
.loading-screen p {
  font-size: 36px;
}
.disclaimer {
  margin: 20px 30px 0;
}

/**ITEM**/
.item {
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  display: inline-block;
  margin: 20px;
  background-color: #fff;
  width: 350px;
  box-shadow: 5px 5px 15px #61dafb;
  transition: 1s;
}
.item:hover {
  transition: 0.5s;
  transform: translateY(-10px);
}
.item-name {
  font-size: 32px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 10px;
}
.item hr {
  width: auto;
  margin: 20px 0 0;
}
.item-button-container {
  display: flex;
  text-align: center;
  justify-content: center;
}
.item-button {
  text-decoration: none;
  font-size: 24px;
  color: #000;
  background-color: #61dafb;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px 0 5px;
}
.item-button:hover {
  background-color: #94e2f8;
}

/**SCROLLUP**/
.scrollUp {
  z-index: 2;
  width: 80px;
  position: fixed;
  top: 90%;
  right: 2.5%;
  opacity: 60%;
}
.scrollUp:hover {
  opacity: 100%;
}

/**KEYFRAMES**/
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } 
}